.sec {
    margin-top: 3em;
}

.text-decor {
    color: #e6466e;
}

.main-download .main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.loading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imgs {
    padding-bottom: 20px;
}

.scale {
    padding-bottom: 20px;
    width: 70vw;
    max-width: 500px;
}