@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

*, *::before, *::after {
    box-sizing: borider-box;
}

body {
    background: url(../images/bg.png);
}

#card {
    height: 310px;
    width: 350px;
}

#header {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Paytone One', sans-serif;
    letter-spacing:3px;
    margin-left: 45px;
    margin-top: -1em;
}

#description {
    background: url("../images/text-bg.png");
    background-size: cover;
    font-size: 1.2rem;
    font-family: 'Mochiy Pop One', sans-serif;
    text-align: center;
    border-radius: 5px;
    height: 70px;
}

#text-box {
    padding: 1px;
    position: absolute;
    margin-top: 4px;
    margin-right: 15px;
}

.button{
    height: 40px;
    width: 100px;
    position: relative;
    font-size: 20px;
    font-family: 'Paytone One', sans-serif;
    color: white;
    background-color: #ff0066;
    border-radius: 10px;
}

#visit {
    top: 20px;
    left: 120px;
}

#github {
    top: 70px;
    left: 17px;
}

a {
    text-decoration: none;
}